### Sum of Squares of numbers

In [1]:
numbers=[1,2,3,1,5]
sum_=0

for num in numbers:
    sum_=sum_+num**2
sum_

40

In [2]:
numbers=[1,2,3,1,5]
sqrt_root=0

for num in numbers:
    sqrt_root=sqrt_root+num**0.5
sqrt_root

7.382332347441762

In [3]:
fruits=["Apple","Banana","Cherry"]
for fruit in fruits:
        print(fruit)

Apple
Banana
Cherry

In [4]:
for letter in "Komal":
    print(letter)

K
o
m
a
l

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [7]:
number=125
cube_root=number**(1/3)                              
print("The cube root of the no is:",cube_root)

The cube root of the no is: 5.0

In [8]:
my_list=[3,5,6,8,4]
for num in range(len(my_list)):
    my_list.append(my_list[num]+2)
print(my_list)

[3, 5, 6, 8, 4, 5, 7, 8, 10, 6]

In [9]:
list1=[1,2,0,5,6]
while list1:
    print("hi komal")
    list1.pop()

hi komal
hi komal
hi komal
hi komal
hi komal

In [10]:

total=0
number=int(input("enter a number(0 to quit):"))
while number!=0:
    total=total+number
    number=int(input("enter a number(0 to quit):"))
print("toatal is",total)

enter a number(0 to quit):2
enter a number(0 to quit):3
enter a number(0 to quit):-1
enter a number(0 to quit):-2
enter a number(0 to quit):0
toatal is 2

In [11]:
num=[12,14,6,7,9,19,25,36]
def prime_number(number):
    condition=0
    iteration=2
    while iteration<=number/2:
        if number%iteration==0:
            condition=1
            break
        iteration=iteration+1
    if condition==0:
        print(f"{number}is a Prime number")
    else:
        print(f"{number}is not a prime number")
for i in num:
    prime_number(i)

12is not a prime number
14is not a prime number
6is not a prime number
7is a Prime number
9is not a prime number
19is a Prime number
25is not a prime number
36is not a prime number

In [12]:
num1=9
num2=-6
while num1>5 and num2<-5:
    num1 -=2
    num2 +=3
    print((num1,num2))

(7, -3)

In [14]:
num1=9
num2=5
while num1>5 or num2<-5:
    num1 -=2
    num2 +=3
    print((num1,num2))

(7, 8)
(5, 11)

In [16]:
for string in "Python Programming":
     if string=="r":
        break
     print(string)

P
y
t
h
o
n

P